/* Lemon-Py CSS */

/****************************************
 * Base structure
 ****************************************/
body {
    font-family: Helvetica, Arial;
}

.site-name {
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 1.50;
    color: #333333;
    text-align: center;
}

ol, ul {
    list-style: outside none none;
}

.list-icons {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
}

.list-icons li {
    padding: 0 0 15px 0;
}

blockquote {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
}

.title {
    margin-top: 0;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.header-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/****************************************
 * Colors
 ***************************************/
.color-blue {
    color: #148dad;
    font-weight: 700;
}

.color-red {
    color: #9e2727;
    font-weight: 700;
}

.color-gray {
    color: #e8e8e8;
    font-weight: 700;
}

.color-green-1 {
    color: #89dc42;
    font-weight: 700;
}

.color-green-2 {
    color: #75bf34;
    font-weight: 700;
}

strong {
  color: #337ab7;
}
/****************************************
 * Nav-bar
 ***************************************/
.navbar-inverse {
    background-color: black;
}

#myNavbar {
    float: right;
    font-weight: 700;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #148dad;
    background-color: black;
}

.navbar-nav > li {
  text-align: right;
}

/****************************************
 * Box
 ***************************************/
.box-def {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 3px 4px 15px -6px #000;
    padding: 20px 25px;
    position: relative;
    margin-bottom: 30px;
}


.box-title {
    color: #148dad;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.box-title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #9e2727;
    width: 60px;
    height: 5px;
}

.box-def p {
    color: #87818C;
    font-size: 15px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
    padding: 0px 15px;
    text-align: justify;
}

.box-li {
    color: #87818C;
    font-size: 15px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
    padding: 0px 15px;
    text-align: justify;
    padding-bottom: 15px;
}

.box-img {
    margin: 0 auto;
}

.box-img-zoom {
    overflow: hidden;
    height: 100%; 
}

.box-img-zoom img {
    transition: all 0.5s ease 0s;
    height: auto;
    max-width: 100%;
    display: block;
}

.box-img-zoom img:hover {
    transform: scale(1.15);
    opacity: 0.5;
}

.box-meta {
    color: #212121;
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.24s ease-in-out 0s;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
/****************************************
 * Banner
 ***************************************/
#banner {
    background: url("../img/banner.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: #ffffff;
}

/* Tablets */
@media only screen and (max-width : 768px) {
    #banner {
	background: url("../img/banner_sm.png") no-repeat center center fixed;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #banner {
	background: url("../img/banner_xs.png") no-repeat center center fixed;
    }
}

#banner > div {
    padding-top: 15%;
    text-align: left;
    font-family: "Ubuntu",sans-serif;
}

#banner .banner-title {
    font-size: 4em;
    font-weight: 700;
    padding-top: 10%;
    padding-bottom: 15px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

#banner .banner-subtitle {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
    #banner .banner-title {
	padding-top: 15%;
    }
}

@media only screen and (max-width: 640px) {
    #banner .banner-title {
	padding-top: 10%;
    }
}
/****************************************
 * News
 ***************************************/
#news {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: cadetblue;
    color: white;
}

/****************************************
 * Idea
 ***************************************/
#idea {
    padding-bottom: 100px;
    padding-top: 100px;
    color: #fff;
    background-color: darkslategrey;
}

/****************************************
 * Team
 ***************************************/
#team {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: cadetblue;
}

.team-member-img {
    border-radius: 100%;
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    margin: 0 auto;
}

/****************************************
 * Future
 ***************************************/
#future {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: darkslategrey;
}

/****************************************
 * notices
 ***************************************/
#notices {
    padding-top: 100px;
}

/****************************************
 * Footer
 ***************************************/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    color: #fff;
}

.footer-texto {
    text-align: left;
}

.footer-texto > p {
    margin-bottom: 0px;
}

.footer-texto > p > strong {
    color: #e62b1e;
}

/****************************************
 * Social
 ****************************************/
.social-links {
    padding: 0;
    list-style: none;
    margin: 15px 0;
}

.social-links li {
    margin: 10px;
    display: inline-block;
    font-size: 36px;
}

.social-links li a {
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-links li.twitter a:hover {
    color: #55acee;
}

.social-links li.flickr a:hover {
    color: #ff0084;
}

.social-links li.facebook a:hover {
    color: #3b5998;
}

.social-links li.youtube a:hover {
    color: #b31217;
}

.social-links li.email a:hover {
    color: #b31217;
}

.social-links li.github a:hover {
    color: #3b5998;
}
