/* Lemon-Py CSS */

/****************************************
 * Base structure
 ****************************************/
body {
    font-family: Helvetica, Arial;
}

.site-name {
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 1.50;
    color: #333333;
    text-align: center;
}

ol, ul {
    list-style: outside none none;
}

.list-icons {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
}

.list-icons li {
    padding: 0 0 15px 0;
}

blockquote {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
}

.title {
    margin-top: 0;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.header-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/****************************************
 * Colors
 ***************************************/
.color-blue {
    color: #148dad;
    font-weight: 700;
}

.color-red {
    color: #9e2727;
    font-weight: 700;
}

.color-gray {
    color: #e8e8e8;
    font-weight: 700;
}

.color-green-1 {
    color: #89dc42;
    font-weight: 700;
}

.color-green-2 {
    color: #75bf34;
    font-weight: 700;
}

strong {
  color: #337ab7;
}
/****************************************
 * Nav-bar
 ***************************************/
.navbar-inverse {
    background-color: black;
}

#myNavbar {
    float: right;
    font-weight: 700;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #148dad;
    background-color: black;
}

.navbar-nav > li {
  text-align: right;
}

/****************************************
 * Box
 ***************************************/
.box-def {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 3px 4px 15px -6px #000;
    padding: 20px 25px;
    position: relative;
    margin-bottom: 30px;
}


.box-title {
    color: #148dad;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.box-title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #9e2727;
    width: 60px;
    height: 5px;
}

.box-def p {
    color: #87818C;
    font-size: 15px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
    padding: 0px 15px;
    text-align: justify;
}

.box-li {
    color: #87818C;
    font-size: 15px;
    letter-spacing: -0.02em;
    line-height: 1.6em;
    padding: 0px 15px;
    text-align: justify;
    padding-bottom: 15px;
}

.box-img {
    margin: 0 auto;
}

.box-img-zoom {
    overflow: hidden;
    height: 100%;
}

.box-img-zoom img {
    transition: all 0.5s ease 0s;
    height: auto;
    max-width: 100%;
    display: block;
}

.box-img-zoom img:hover {
    transform: scale(1.15);
    opacity: 0.5;
}

.box-meta {
    color: #212121;
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.24s ease-in-out 0s;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
/****************************************
 * Banner
 ***************************************/
#banner {
    background: url("../img/banner.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: #ffffff;
}

/* Tablets */
@media only screen and (max-width : 768px) {
    #banner {
	background: url("../img/banner_sm.png") no-repeat center center fixed;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #banner {
	background: url("../img/banner_xs.png") no-repeat center center fixed;
    }
}

#banner > div {
    padding-top: 15%;
    text-align: left;
    font-family: "Ubuntu",sans-serif;
}

#banner .banner-title {
    font-size: 4em;
    font-weight: 700;
    padding-top: 10%;
    padding-bottom: 15px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

#banner .banner-subtitle {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
    #banner .banner-title {
	padding-top: 15%;
    }
}

@media only screen and (max-width: 640px) {
    #banner .banner-title {
	padding-top: 10%;
    }
}
/****************************************
 * News
 ***************************************/
#news {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: cadetblue;
    color: white;
}

/****************************************
 * News: Timeline
 ***************************************/
 .timeline {
   list-style: none;
   padding: 0;
   position: relative;
   color: #148dad;
 }
 .timeline:before {
   top: 0;
   bottom: 0;
   position: absolute;
   content: "";
   width: 2px;
   background-color: #f1f1f1;
   left: 40px;
   margin-left: -1.5px;
 }
 .timeline > li {
   margin-bottom: 50px;
   position: relative;
   min-height: 50px;
 }
 .timeline > li:before,
 .timeline > li:after {
   content: " ";
   display: table;
 }
 .timeline > li:after {
   clear: both;
 }
 .timeline > li .timeline-panel {
   width: 70%;
   float: right;
   padding: 20px;
   position: relative;
   text-align: left;
   background-color: #ffffff;
   border-radius: 30px;
 }
 .timeline > li .timeline-panel:before {
   border-left-width: 0;
   border-right-width: 15px;
   left: -15px;
   right: auto;
 }
 .timeline > li .timeline-panel:after {
   border-left-width: 0;
   border-right-width: 14px;
   left: -14px;
   right: auto;
 }
 .timeline > li .timeline-image {
   left: 0;
   margin-left: 0;
   width: 80px;
   height: 80px;
   position: absolute;
   z-index: 100;
   background-color: #fed136;
   color: white;
   border-radius: 100%;
   border: 7px solid #f1f1f1;
   text-align: center;
 }
 .timeline > li .timeline-image h4 {
   font-size: 10px;
   margin-top: 12px;
   line-height: 14px;
 }
 .timeline > li.timeline-inverted > .timeline-panel {
   float: right;
   text-align: left;
   padding: 20px;
 }
 .timeline > li.timeline-inverted > .timeline-panel:before {
   border-left-width: 0;
   border-right-width: 15px;
   left: -15px;
   right: auto;
 }
 .timeline > li.timeline-inverted > .timeline-panel:after {
   border-left-width: 0;
   border-right-width: 14px;
   left: -14px;
   right: auto;
 }
 .timeline > li:last-child {
   margin-bottom: 0;
 }
 .timeline .timeline-heading h4 {
   margin-top: 0;
   color: inherit;
 }
 .timeline .timeline-heading h4.subheading {
   text-transform: none;
 }
 .timeline .timeline-body > p,
 .timeline .timeline-body > ul {
   margin-bottom: 0;
 }
 @media (min-width: 768px) {
   .timeline:before {
     left: 50%;
   }
   .timeline > li {
     margin-bottom: 100px;
     min-height: 100px;
   }
   .timeline > li .timeline-panel {
     width: 41%;
     float: left;
     padding: 20px 20px 20px 30px;
     text-align: right;
   }
   .timeline > li .timeline-image {
     width: 100px;
     height: 100px;
     left: 50%;
     margin-left: -50px;
   }
   .timeline > li .timeline-image h4 {
     font-size: 13px;
     margin-top: 16px;
     line-height: 18px;
   }
   .timeline > li.timeline-inverted > .timeline-panel {
     float: right;
     text-align: left;
     padding: 20px 30px 20px 20px;
   }
 }
 @media (min-width: 992px) {
   .timeline > li {
     min-height: 150px;
   }
   .timeline > li .timeline-panel {
     padding: 20px 20px 20px;
   }
   .timeline > li .timeline-image {
     width: 150px;
     height: 150px;
     margin-left: -75px;
   }
   .timeline > li .timeline-image h4 {
     font-size: 18px;
     margin-top: 30px;
     line-height: 26px;
   }
   .timeline > li.timeline-inverted > .timeline-panel {
     padding: 20px 20px 20px;
   }
 }
 @media (min-width: 1200px) {
   .timeline > li {
     min-height: 170px;
   }
   .timeline > li .timeline-panel {
     padding: 20px 20px 20px 100px;
   }
   .timeline > li .timeline-image {
     width: 170px;
     height: 170px;
     margin-left: -85px;
   }
   .timeline > li .timeline-image h4 {
     margin-top: 40px;
   }
   .timeline > li.timeline-inverted > .timeline-panel {
     padding: 20px 100px 20px 20px;
   }
 }

 /****************************************
  * News: countdown
  ***************************************/
.flip-clock-wrapper {
  width: 702px;
  margin: 0 auto;
  padding: 40px;
}

@media only screen and (max-width: 640px) {
  .flip-clock-wrapper {
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: left top;
    padding: 40px 20px;
  }
}


/****************************************
 * Idea
 ***************************************/
#idea {
    padding-bottom: 100px;
    padding-top: 100px;
    color: #fff;
    background-color: darkslategrey;
}

/****************************************
 * Team
 ***************************************/
#team {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: cadetblue;
}

.team-member-img {
    border-radius: 100%;
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    margin: 0 auto;
}

/****************************************
 * Future
 ***************************************/
#future {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: darkslategrey;
}

/****************************************
 * notices
 ***************************************/
#notices {
    padding-top: 100px;
}

/****************************************
 * Footer
 ***************************************/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    color: #fff;
}

.footer-texto {
    text-align: left;
}

.footer-texto > p {
    margin-bottom: 0px;
}

.footer-texto > p > strong {
    color: #e62b1e;
}

/****************************************
 * Social
 ****************************************/
.social-links {
    padding: 0;
    list-style: none;
    margin: 15px 0;
}

.social-links li {
    margin: 10px;
    display: inline-block;
    font-size: 36px;
}

.social-links li a {
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-links li.twitter a:hover {
    color: #55acee;
}

.social-links li.flickr a:hover {
    color: #ff0084;
}

.social-links li.facebook a:hover {
    color: #3b5998;
}

.social-links li.youtube a:hover {
    color: #b31217;
}

.social-links li.email a:hover {
    color: #b31217;
}

.social-links li.github a:hover {
    color: #3b5998;
}
