---
layout: default_main
---

<!-- Banner -->
<!-- ====== -->
<section id="banner">
  <header class="header-hidden">
    <h2>Banner inicial</h2>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-xs-7">
	<p class="banner-title">LemonPy</p>
	<p class="banner-subtitle hidden-sm hidden-xs">
	  Análisis fenológico de vegetación urbana
	  <br>Basado en <span class="typewrite" data-period="1000"
			      data-type='["imágenes satelitales",
			      "análisis estadísticos",
			      "software libre"]'>
	  </span>
	  <br>Potenciado por la comunidad</p>
      </div><!--/col -->
    </div><!--/row -->
  </div><!--/container -->
</section><!--/#banner -->


<!-- News -->
<!-- ==== -->
<section id="news">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      {% if post.title == "Ganamos el NASA Space App: Best use of Data" %}

      <!-- Img -->
      <div class="col-sm-5 col-md-5">
	<div> <img src="{{ "img/nasa_space.jpg" | prepend: site.baseurl }}"
		   class="img-rounded img-responsive"> </div>
      </div><!--/col -->

      <!-- Post description -->
      <div class="col-sm-7 col-md-7">
        <div class="box-def">"
	  <h2 class="box-title">
	    <a href="{{ post.url | prepend: site.baseurl }}">
	      Ganamos NASA Space Apps 2017: Mejor Uso de Datos</a>
	  </h2>
    <p>Y por eso, <strong>fuimos invitados por NASA a asistir a un lanzamiento espacial</strong> el 3 de Agosto. Ese día en el Kennedy Space Center en Cabo Cañaveral, Florida se lanza el Tracking and Data Relay Satellite <a href="https://tdrs.gsfc.nasa.gov/tdrs" target="_blank">TDRS-M</a> y tenemos que estar ahí representando a la Argentina!</p>
    <h2 class="box-title">
	    <a href="{{ post.url | prepend: site.baseurl }}">
	      Se busca sponsor:</a>
	  </h2>
    <p><strong>Necesitamos conseguir financiamiento para el viaje y la estadía</strong>. Todo suma, si compartís nuestros post, si likeas nuestros <a href="https://twitter.com/lemon4py" target="_blank">tweets</a>, si tenés algún contacto que te parece que nos pueda servir, o lo qué se te ocurra que nos pueda ayudar a concretar nuestro objetivo y poder conocer la NASA, estaremos muy agradecidos!
<br>
¡Si nos ayudan, hacía allá vamos!</p>
	</div><!--/box-def -->
      </div><!--/col -->

      {%endif%}
      {%endfor%}
    </div><!--/row -->
  </div><!--/container -->
</section>


<!-- The Idea -->
<!-- ======== -->
<section id="idea">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-6">
	<div class="box-def">
	  <h2 class="box-title">La Idea</h2>
	  <p>Nuestro equipo, <span class="color-blue">Lemon</span><span class="color-red">Py</span>, propuso desarrollar una herramienta que usa datos satelitales para identificar los períodos de floración de los plátanos y determinar el patrón de dispersión de polen y partículas volátiles. Así, podemos diseñar ‘rutas seguras’ para personas alérgicas.
	    <br><br>

Este proyecto fue analizado por un jurado de la NASA que decidió premiar nuestra idea como la ganadora de la categoría “Best Use of Data”.</p>
	</div><!--/box-def -->
      </div><!--/col -->

      <div class="col-sm-6 col-md-5 col-md-offset-1">
	<img src="{{ "/img/Equipo.JPG" | prepend: site.baseurl }}"
	     class="img-rounded img-responsive"
	     alt="Foto grupal">
      </div><!--/col -->

    </div><!--/row -->
  </div><!--/container -->
</section>


<!-- The Team -->
<!-- ======== -->
<section id="team">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
	<div class="box-def">
	  <h2 class="box-title">¡Hay Equipo!</h2>
	  <p>Hace 53 días aparecimos en un aula de la Universidad de San Martín transportados por el ímpetu de buscar soluciones a los problemas propuestos por la NASA para el evento Space Apps Challenge 2017.
 <br>
Era 29 de abril. Nos sentamos para mirarnos la cara por primera vez y sumergirnos en las pantallas de nuestras máquinas para surfear en bases de datos y papers en busca de la información que nos permitiera solucionar el problema que nos habíamos planteado. Era el inicio de 48 horas de adrenalina.</p>
	</div><!--/box-def -->
      </div><!--/col -->
    </div><!--/row -->

    <div class="row">

      <div class="col-sm-6 col-md-3">
	<div class="box-def">
	  <img src="{{ "/img/equipo/octa.jpg" | prepend: site.baseurl }}"
	       class="team-member-img img-responsive"
	       alt="Foto perfil Octavio">
	  <h3 class="box-title">Octavio</h3>
	  <p>Curioso por naturaleza, biólogo molecular por formación. Estudiante de doctorado en Exactas. Aguante la educación pública, gratuita y de calidad! Siempre aprendiendo, en este momento entrando al mundo de la ciencia de datos de la mano de R, Python y GNU-Linux. Software libre y datos abiertos (L). También soy cocinero de fin de semana, amante del cafe y jugador de fobal.</p>
	</div><!--/box-def -->
      </div><!--/col -->

      <div class="col-sm-6 col-md-3">
	<div class="box-def">
	  <img src="{{ "/img/equipo/cezar.png" | prepend: site.baseurl }}"
	       class="team-member-img img-responsive"
	       alt="Foto perfil Cezar">
	  <h3 class="box-title">Cezar</h3>
	  <p>Siempre estoy aprendiendo algo nuevo, puede ser cualquier cosa, desde inteligencia artificial, robótica y más cosas de programación hasta idiomas como el japonés e incluso arte! Mi principal motivación es pasarla bien, siempre trato de hacer todo con alegría y hacer que todos se diviertan al hacer cosas conmigo. Nací en Brasil y viví la mayor parte de mi vida en Argentina. Mi siguiente objetivo es viajar alrededor del mundo aprendiendo y ayudando a dar forma al futuro.
</p>
	</div><!--/box-def -->
      </div><!--/col -->

      <div class="col-sm-6 col-md-3">
	<div class="box-def">
	  <img src="{{ "/img/equipo/carlos.jpg" | prepend: site.baseurl }}"
	       class="team-member-img img-responsive"
	       alt="Foto perfil Carlos">
	  <h3 class="box-title">Carlos</h3>
	  <p>En la primaria, con mis amigos, éramos cazadores de dinosaurios. La ciencia era el refugio a nuestras interminables preguntas. Cinéfilo de pequeño, amante del arte y la lectura; tanto que todavía recuerdo el miedo que me provocó ver a Tom Sawyer escondido en la oscuridad de una mina. Periodista, actor, escritor. Principiante en biotecnología. Neófito en la ciencia de análisis de datos y en datos libres.</p>
	</div><!--/box-def -->
      </div><!--/col -->

      <div class="col-sm-6 col-md-3">
	<div class="box-def">
	  <img src="{{ "/img/equipo/franco.png" | prepend: site.baseurl }}"
	       class="team-member-img img-responsive"
	       alt="Foto perfil Franco">
	  <h3 class="box-title">Franco</h3>
	  <p>Estudiante de Meteorología en Exactas de la UBA. El 99.9% de los problemas se resuelven con Python y Datos Abiertos. Defensor de la Cultura, Sofware e Internet Libre. Proyecto de aikidoka</p>
	</div><!--/box-def -->
      </div><!--/col -->

    </div><!--/row -->
  </div><!--/container -->
</section>


<!-- The Idea -->
<!-- ======== -->
<!--
<section id="future">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-5 col-md-offset-1">
	<img src="{{ "/img/Equipo.JPG" | prepend: site.baseurl }}"
	     class="img-rounded img-responsive"
	     alt="Foto grupal">
      </div><!--/col

      <div class="col-sm-6 col-md-6">
	<div class="box-def">
	  <h2 class="box-title">The Future</h2>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
	</div><!--/box-def
      </div><!--/col

    </div><!--/row
  </div><!--/container
</section>
-->
