<footer>
    <div class="container">
        <h3 class="title text-center" id="contact">Contactanos</h3>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.twitter_username %}
                    <li>
                        <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.email %}
                    <li>
                        <a target="_blank" href="mailto:{{ site.email }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
          <div class = "col-md-12 small">
  	         Copyright © 2017 <span class="color-blue">Lemon</span><span class="color-red">Py</span>. La reproducción y distribución literal de este artículo completo están permitidas en todo el universo, sin regalías y en cualquier medio, siempre y cuando se cite la fuente, se nos notifique y nos mandes un <strong><a href="https://en.wikipedia.org/wiki/Ansible" target="_blank">ansible</a></strong> si estas muy lejos.
           </div>
        </div>
    </div>
</footer>

<!-- JQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Custom script -->
<script type="text/javascript" src="{{ "js/blog.js" | prepend: site.baseurl }}"></script>
