<!-- Footer -->
<footer>
  <div class="bg-footer">
    <div class="footer container">
      <div class="row">
        <div class="col-xs-4 text-center">
          <a href={{ site.baseurl }}{% link _pages/blog.html %}><i class="fa fa-5x fa-fw fa-rss text-white"></i></a>
          <a href={{ site.baseurl }}{% link _pages/blog.html %}><h3>Blog</h3></a>
        </div>
        <div class="col-xs-4 text-center">
          <a><i class="fa fa-5x fa-fw fa-twitter text-white"></i></a>
          <h3>Twitter</h3>
        </div>
        <div class="col-xs-4 text-center">
          <a><i class="fa fa-5x fa-fw fa-github text-white"></i></a>
          <h3>GitHub</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class"col-md-12">
          <a><i id="footer-close" class="arrow-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- JQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Custom script -->
<script type="text/javascript" src="{{ "js/landing.js" | prepend: site.baseurl }}"></script>
