<!-- Navigation Bar -->
<!-- ============== -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <header class="header-hidden">
    <h2>Menú Principal de Navegación</h2>
  </header>

  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
	      data-toggle="collapse"
	      data-target="#myNavbar"
	      aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- logo -->
      <a class="navbar-brand logo-img">
        <span class="color-blue">Lemon</span><span class="color-red">Py</span>
      </a>
    </div><!--navbar-header -->

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#banner">Inicio</a></li>
	<li><a href="#news">Noticias</a></li>
        <li><a href="#idea">La Idea</a></li>
        <li><a href="#team">El Equipo</a></li>
	<li><a href="#future">Futuro</a></li>
	<li><a href="/blog">Blog</a></li>
	<li><a href="#contact">Contacto</a></li>
      </ul>
    </div><!--/ collapse navbar-collapse -->

  </div><!--/ container-fluid -->
</nav>
