<!DOCTYPE html>
<html>

  {% include landing_head.html %}

  <body data-spy="scroll" data-target=".navbar">

    {% include landing_header.html %}

    {{ content }}

    {% include landing_footer.html %}



    <!-- JQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom script -->
    <script type="text/javascript" src="{{ "js/landing.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
